@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-900: #00331E;
  --color-primary-800: #005733;
  --color-primary-700: #00804A;
  --color-primary-600: #009E5C;
  --color-primary-500: #00D17A;
  --color-primary-400: #03FF94;
  --color-primary-300: #6AFFC1;
  --color-primary-200: #99FFD5;
  --color-primary-100: #C2FFE5;
  --color-primary-50:  #EBFFF7;

  /* Secondary */
  --color-secondary-900: #002433;
  --color-secondary-800: #004766;
  --color-secondary-700: #006B99;
  --color-secondary-600: #008FCC;
  --color-secondary-500: #00B2FF;
  --color-secondary-400: #35C2FF;
  --color-secondary-300: #66D0FF;
  --color-secondary-200: #99E1FF;
  --color-secondary-100: #CCF0FF;
  --color-secondary-50:  #E5F7FF;

  /* Neutral */
  --color-neutral-900: #121212;
  --color-neutral-800: #2A2A2A;
  --color-neutral-700: #414141;
  --color-neutral-600: #595959;
  --color-neutral-500: #808080;
  --color-neutral-400: #A0A0A0;
  --color-neutral-300: #B8B8B8;
  --color-neutral-200: #D0D0D0;
  --color-neutral-100: #E7E7E7;
  --color-neutral-50:  #EEEEEE;
}

@keyframes partners-marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-partners-marquee {
  animation: partners-marquee 25s linear infinite;
}